<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
   
    <%- include("./partials/nav.ejs") %>
    
    <div class="About content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ratione explicabo nobis commodi eum sint dolorem beatae repudiandae? Hic aspernatur excepturi modi cum omnis recusandae expedita quaerat sequi perspiciatis ipsum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, ratione itaque tempore velit corporis quas amet earum assumenda laborum repellendus nemo modi quia totam doloremque quaerat consequuntur tempora nobis. Illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus corporis aspernatur nemo atque saepe quisquam delectus voluptates, illo id nesciunt accusantium similique ullam nostrum quis autem maiores explicabo illum. Modi.</p>
        
    </div>

 <%- include("./partials/footer.ejs") %>
</body>
</html>